@mixin type-1 ($size: 16) {
  font-family: monospace;
  font-weight: normal;

  @if $size ==16 {
    font-size: 1em;
  } @else if $size ==18 {
    font-size: 1.25em;
  } @else if $size == 24 {
    font-size: 1.5em;
  } @else if $size == 64 {
    font-size: 4em;
  }
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin title-large {
  font-size: 3em;
  line-height: 1;
}

@mixin title-prop {
  font-weight: bold;
  font-family: $font-primaria;
  color: $title;
}

@mixin titulo-primario {
  @include title-prop;
  @include title-large;
}

@mixin separador($color: blue, $largura: 100px) {
  &::after {
    content: '';
    display: block;
    width: $largura;
    height: 4px;
    background-color: $color;
  }
}

@mixin device($size-device) {
  @if $size-device == mobile {
    @media (min-width: 0px) and (max-width: 378px) {
      @content;
    }
  } @else if $size-device == tablet {
    @media (min-width: 379px) and (max-width: 601px) {
      @content;
    }
  } @else if $size-device == web {
    @media (min-width: 602px) {
      @content;
    }
  }
}
